/* html{
  font-size: 100%;
} */

@media screen and (max-width:640px) {
  body{
    font-size:30%;
  }
}


@media screen and (max-width:1024px) {
  body{
    font-size:80%;
  }
}


@media screen and (max-width:1800px) {
  body{
    font-size:100%;
  }
}